export class SecretConfig {
    public static Mongo = {
        host:"localhost",
        port:27017,
        user:"root", // Set to null if no user
        password:"root-password", // Set to null if no user
        dbName:"credentials_toolbox"
    }

    public static Auth = {
        jwtSecret: 'abcdef', // Used to encode JWT tokens
    }

    public static DID = {
        credentialIssuerDIDMnemonic: "12 words mnemonic", // "Trinity Tech Credentials Toolbox" mnemonic
        credentialIssuerDIDString: "did:elastos:xxxx" // "Trinity Tech Credentials Toolbox" DID
    }
}