:host {
  width: 100%;
}

.credential-type {
  display: block;
  width: 100%;
  background: rgba(24, 117, 209, 0.1);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

  .copy-icon {
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 3px;
    height: 18px;
    width: 18px;

    &:active {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }

  .heading {
    display: flex;
    color: #888;
    font-size: 11px;

    .title {
      text-transform: uppercase;
      font-size: 11px;

      flex-grow: 3;
    }

    .type-header {
      padding: 10px;
      /* background: rgba(24, 117, 209, 0.5);
      color: white; */
      color: black;
      border-radius: 5px;
      flex-grow: 3;

      .type {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        button {
          height: 26px;
          line-height: 26px;
        }
      }

      .context {
        font-size: 14px;
        color: #555;
        display: flex;
        align-items: center;
      }
    }

    .right {
      flex-grow: 1;
      align-self: center;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .publish-date {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        .date {
          font-weight: bold;
          font-size: 13px;
          line-height: 13px;
        }

        .time {
          line-height: 12px;
        }
      }

      button {
        margin: 0 5px;
      }
    }
  }

  .info {
    .row {
      display: flex;
      .left {
        width: 120px;
        min-width: 120px;
        display: flex;
        align-items: flex-start;
        padding: 10px;
        font-weight: bold;
        align-items: center;
      }
      .right {
        padding: 10px;
        flex-flow: wrap;

        .stat-box {
          display: flex;
          .entry {
            width: 25%;

            .value {
              font-size: 30px;
              text-align: center;
              margin-bottom: 5px;

              &.smaller {
                font-size: 20px;
              }
            }

            .info {
              font-size: 11px;
              text-align: center;
            }
          }
        }

        &.apps {
          display: flex;
          width: 100%;

          .app {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;

            .icon {
              width: 40px;
              height: 40px;
              opacity: 0.3;
            }

            .name {
              font-weight: bold;
            }

            .did {
              color: #555;
              font-size: 0.8em;
            }

            .users {
              font-size: 0.8em;
            }
          }
        }
      }

      .properties {
        display: flex;

        pre {
          background-color: rgba(0, 0, 50, 0.05);
        }

        .property {
          display: flex;
          font-size: 12px;
          margin-right: 5px;
          margin-top: 5px;
          margin-bottom: 5px;
          color: white;

          .name {
            font-weight: bold;
            background: #1875d1;
            border-radius: 10px;
            padding: 0 10px;
          }

          .type {
            color: black;
          }
        }
      }
    }
  }
}
