<div class="credential-type" *ngIf="_credentialType">
  <div class="heading">
    <div class="type-header">
      <div class="type">
        {{_credentialType.shortType}}
        <mat-icon class="copy-icon" (click)="copyShortType()">file_copy</mat-icon>
        <button mat-flat-button (click)="openCredentialTypeDetails()" *ngIf="mode === 'listing'">
          View
        </button>
      </div>
      <div class="context">
        {{_credentialType.context}}
        <mat-icon class="copy-icon" (click)="copyContext()">file_copy</mat-icon>
      </div>
    </div>
    <div class="right">
      <div class="publish-date">
        <div class="date">{{getPublishDate()}}</div>
        <div class="time">{{getPublishTime()}}</div>
      </div>
      <div class="actions">
        <button mat-flat-button (click)="editType()" *ngIf="mode === 'details' && userIsOwner()">
          Edit type
        </button>
        <button mat-flat-button (click)="cloneType()" *ngIf="mode === 'details' && canClone()">
          Clone as new type
        </button>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="row" *ngIf="displayableDescription">
      <div class="left">
        Author's notes
      </div>
      <div class="right">
        {{ displayableDescription }}
      </div>
    </div>

    <div class="row" *ngIf="getPublisher()">
      <div class="left">
        Publisher
      </div>
      <div class="right">
        {{getPublisher()}}
      </div>
    </div>

    <div class="row" *ngIf="hasProperties()">
      <div class="left">
        Properties
      </div>
      <div class="right properties">
        <pre><code #propertiesCode class="language-typescript">{{ propertiesSourceCode }}</code></pre>
      </div>
    </div>

    <div class="row" *ngIf="_credentialType.lastMonthStats">
      <div class="left">
        Statistics
      </div>
      <div class="right">
        <div class="stat-box">
          <div class="entry">
            <div class="value">
              {{_credentialType.lastMonthStats.totalUsers}}
            </div>
            <div class="info">
              <b>Users</b> having credentials of this type
            </div>
          </div>

          <div class="entry">
            <div class="value">
              {{_credentialType.lastMonthStats.totalCredentials}}
            </div>
            <div class="info">
              <b>Total number of credentials</b> of this type in users wallets
            </div>
          </div>

          <div class="entry">
            <div class="value smaller">
              {{getFormattedDate(_credentialType.lastMonthStats.lastCreated)}}
            </div>
            <div class="info">
              <b>Most recent credential created</b> using this type
            </div>
          </div>

          <div class="entry">
            <div class="value smaller">
              {{_credentialType.lastMonthStats.lastUsed > 0 ? getFormattedDate(_credentialType.lastMonthStats.lastUsed)
              :
              "Never"}}
            </div>
            <div class="info">
              <b>Most recent use</b> of a credential made with this type, in an app
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="_credentialType.lastMonthStats && _credentialType.lastMonthStats.topUsingApps.length > 0">
      <div class="left">
        Top using apps
      </div>
      <div class="right apps">
        <div *ngFor="let app of _credentialType.lastMonthStats.topUsingApps" class="app">
          <img src="/assets/default-app.png" class="icon" />
          <span class="name">{{ getDisplayableAppName(app.name) }}</span>
          <span class="did">{{ shortDid(app.did) }}</span>
          <span class="users">By {{app.users}} users</span>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="_credentialType.lastMonthStats && _credentialType.lastMonthStats.topIssuers.length > 0">
      <div class="left">
        Top issuers
      </div>
      <div class="right apps">
        <div *ngFor="let issuer of _credentialType.lastMonthStats.topIssuers" class="app">
          <img src="/assets/default-app.png" class="icon" />
          <span class="name">{{ getDisplayableAppName(issuer.name) }}</span>
          <span class="did">{{ shortDid(issuer.did) }}</span>
          <span class="users">For {{issuer.users}} users</span>
        </div>
      </div>
    </div>
  </div>