<div class="credential-type" *ngIf="_credentialType">
  <div class="heading">
    <div class="type-header">
      <div class="type">
        {{_credentialType.shortType}}
        <mat-icon class="copy-icon" (click)="copyShortType()">file_copy</mat-icon>
        <button mat-flat-button (click)="openCredentialTypeDetails()" *ngIf="showView">
          View
        </button>
      </div>
      <div class="context">
        {{_credentialType.context}}
        <mat-icon class="copy-icon" (click)="copyContext()">file_copy</mat-icon>
      </div>
    </div>
    <div class="publish-date">
      <div class="date">{{getPublishDate()}}</div>
      <div class="time">{{getPublishTime()}}</div>
    </div>
  </div>
  <div class="info">
    <div class="row" *ngIf="getPublisher()">
      <div class="left">
        Publisher
      </div>
      <div class="right">
        {{getPublisher()}}
      </div>
    </div>

    <div class="row" *ngIf="properties.length > 0">
      <div class="left">
        Main properties
      </div>
      <div class="right properties">
        <div class="property" *ngFor="let credProp of properties">
          <div class="name">{{credProp.propertyName}}</div>: <div class="type">{{
            getDisplayablePropertyType(credProp.type)}}</div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="_credentialType.lastMonthStats">
      <div class="left">
        Statistics
      </div>
      <div class="right">
        <div class="stat-box">
          <div class="entry">
            <div class="value">
              {{_credentialType.lastMonthStats.totalUsers}}
            </div>
            <div class="info">
              <b>Users</b> having credentials of this type
            </div>
          </div>

          <div class="entry">
            <div class="value">
              {{_credentialType.lastMonthStats.totalCredentials}}
            </div>
            <div class="info">
              <b>Total number of credentials</b> of this type in users wallets
            </div>
          </div>

          <div class="entry">
            <div class="value smaller">
              {{getFormattedDate(_credentialType.lastMonthStats.lastCreated)}}
            </div>
            <div class="info">
              <b>Most recent credential created</b> using this type
            </div>
          </div>

          <div class="entry">
            <div class="value smaller">
              {{_credentialType.lastMonthStats.lastUsed > 0 ? getFormattedDate(_credentialType.lastMonthStats.lastUsed)
              :
              "Never"}}
            </div>
            <div class="info">
              <b>Most recent use</b> of a credential made with this type, in an app
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="_credentialType.lastMonthStats && _credentialType.lastMonthStats.topUsingApps.length > 0">
      <div class="left">
        Top using apps
      </div>
      <div class="right">
        <div *ngFor="let app of _credentialType.lastMonthStats.topUsingApps">
          <span *ngIf="app.name"><b>{{app.name}}</b> ({{app.did}})</span>
          <span *ngIf="!app.name">{{app.did}}</span>
          - {{app.users}} users
        </div>
      </div>
    </div>

    <div class="row" *ngIf="_credentialType.lastMonthStats && _credentialType.lastMonthStats.topIssuers.length > 0">
      <div class="left">
        Top issuers
      </div>
      <div class="right">
        <div *ngFor="let issuer of _credentialType.lastMonthStats.topIssuers">
          <span *ngIf="issuer.name"><b>{{issuer.name}}</b> ({{issuer.did}})</span>
          <span *ngIf="!issuer.name">{{issuer.did}}</span>
          - {{issuer.users}} users
        </div>
      </div>
    </div>
  </div>