@font-face {
  font-family: "Menlo Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Menlo Regular"), url("../../../assets/fonts/Menlo-Regular.woff") format("woff");
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;

  .editor {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;

    .payload {
      width: 100%;
      height: 600px;

      .mat-form-field-wrapper {
        height: 100%;

        .mat-form-field-flex {
          height: 100% !important;

          .mat-form-field-infix {
            height: 100% !important;

            textarea {
              height: 100%;
              resize: none;
              line-height: 1.3;
              white-space: nowrap;

              padding: 10px;
              font-size: 13px;
              font-family: "Menlo Regular", "Courier new", serif;
              overflow: scroll;
              color: #666;
            }
          }
        }
      }
    }

    .samples {
      margin-top: 10px;
    }
  }
  .preview {
    width: 50%;

    .status {
      .loader {
        height: 30px;
      }

      .error,
      .success,
      .warning {
        .row {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          .label {
            color: white;
            padding: 5px;
            width: 70px;
            font-weight: bold;
            text-align: right;
            border-radius: 5px;
            margin-right: 10px;
          }
        }
      }

      .error {
        .row {
          .label {
            background: rgb(201, 6, 6);
          }
        }
      }

      .warning {
        .row {
          .label {
            background: rgb(201, 110, 6);
          }
        }
      }

      .success {
        .row {
          .label {
            background: rgb(0, 151, 58);
          }
        }
      }
    }

    .result-content {
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .parse-mode-select {
          justify-content: flex-end;
        }
      }

      .code {
        background: #f0f0f0;

        pre {
          height: 400px;
          padding: 10px;
          font-size: 13px;
          color: #888;
          font-family: "Menlo Regular", "Courier new", serif;
          overflow: scroll;

          .json-key {
            color: #666;
            font-weight: bold;
          }

          .json-missing-key {
            background: red;
            color: white;
            padding: 2px;
            border-radius: 5px;
            font-weight: bold;
          }

          .json-string {
            color: olive;
          }
          .json-number {
            color: navy;
          }
          .json-boolean {
            color: teal;
          }
          .json-null {
            color: dimgray;
          }
          .json-mark {
            color: black;
          }
        }
      }
    }
  }
}
